* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

html {
	overflow: hidden;
}


html, body {
	font-family: 'Lora', serif;
	padding: 0px;
	margin: 0px;
	height: 100%;
	background: #fdfdfd;
}

body {
	padding-bottom: 40px;
	padding-right: 10px;
	overflow-y: scroll;
	padding-left: 10px;
	padding-top: 20px;
	min-width: 800px;
	width: 100%;

	-webkit-transition: all 600ms;
	-moz-transition: all 600ms;
	-ms-transition: all 600ms;
	-o-transition: all 600ms;
	transition: all 600ms;
}

section {
	max-width: 600px;
	height: 100%;
	margin: auto;
}

h1, header {
	margin-left: 20px;
	max-width: 600px;
	font-weight: bold;
	font-size: 38px;
	display: block;
}

article {
	padding-bottom: 50px;
	line-height: 30px;
	margin-top: 22px;
	min-height: 90%;
	font-size: 22px;
	display: block;
}

blockquote {
	border-left: 4px solid deepskyblue;
	margin-left: -19px;
	padding-left: 15px;
	margin-right: 0px;
}

.no-overflow {
	overflow: hidden;
	display: block;
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	text-decoration-color: black;
	
}

a:hover {
  text-shadow: 1px 1px blue;
}