html, body {
	font-family: 'Lora';
	background: #fdfdfd;
}

body {
	line-height: 60px;
	font-weight: bold;
	font-size: 38px;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	
}


h1, header {
	color: blueviolet;
	max-width: 600px;
	font-weight: bold;
	font-size: 38px;
}


markdown {
	color: dimgray;
}


a {
	text-decoration: none;
	text-decoration-color: black;
	font-style: italic;
	color:blueviolet;
}

a:hover {
  text-shadow: 2px 2px blue;
}
a:visited {
	color: blueviolet;
}
